<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>647316233203-o0f1f9i89ai41i39ub6rh9i2nn1s5c6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647316233203-o0f1f9i89ai41i39ub6rh9i2nn1s5c6d</string>
	<key>API_KEY</key>
	<string>AIzaSyBrvEZu5CR95Yiete9-1AD3uzr-wBsXrHs</string>
	<key>GCM_SENDER_ID</key>
	<string>647316233203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.cleofase.FirebaseDatabaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-iostest-5af9d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-iostest-5af9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:647316233203:ios:5ccd5fcc8c821fcb</string>
	<key>DATABASE_URL</key>
	<string>https://fir-iostest-5af9d.firebaseio.com</string>
</dict>
</plist>
